:root{
    --padding-container: 100px 0;
   --color-tittle: #001a49;
   }
.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}
.cta{
    display: inline-block;
    background-color: #2091f9;
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 13px 22px;
    border-radius: 32px;

}
.productos{
    background-color: #e5e5f7;
background-image:  radial-gradient(#b41ed6 0.5px, transparent 0.5px), radial-gradient(#b41ed6 0.5px, #e5e5f7 0.5px);
background-size: 20px 20px;
background-position: 0 0,10px 10px;
overflow: hidden;
}
.productos_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    align-items: center;
}
.productos_imagen{
    max-width: 500px;
}
.productos_img{
    width: 100%;
    display: block;
}
.productos_parrafo{
    line-height: 1.7;
    margin-bottom: 15px;
}
.subtitle{
    color: var(--color-tittle);
    font-size: 3rem;
    margin-bottom: 25px;
}
.subtitle1{
    color: var(--color-tittle);
    font-size: 1.5rem;
    margin-bottom: 25px;
}